name: Build Manager (Parallel)

on:
  push:
  workflow_dispatch:
    inputs:
      package_id:
        required: false
        type: string
        description: "Custom package id (leave empty to use default list)"

jobs:
  prepare-list:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: FrostRime/APatch

      - name: Set Matrix
        id: set-matrix
        run: |
          if [ -n "${{ github.event.inputs.package_id }}" ]; then
            JSON_ARRAY=$(echo '["${{ github.event.inputs.package_id }}"]' | jq -c .)
          else
            JSON_ARRAY=$(jq -R -s -c 'split("\n") | map(select(length > 0))' ./default_package_id_list)
          fi
          echo "matrix=$JSON_ARRAY" >> $GITHUB_OUTPUT

  build-manager:
    needs: prepare-list
    runs-on: ubuntu-latest
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        package_id: ${{ fromJson(needs.prepare-list.outputs.matrix) }}

    name: Build (${{ matrix.package_id }})
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          repository: FrostRime/APatch
          ref: main

      - name: Generate version
        id: parse_version
        run: |
          COMMIT_NUM=$(git rev-list --count HEAD)
          VERSION=$(($COMMIT_NUM + 10200))
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: jetbrains
          java-version: 21
          cache: 'gradle'

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.package_id }}
          shared-key: "rust-build"

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Install Rust toolchain
        run: |
          rustup target install aarch64-linux-android
          if ! command -v cargo-ndk &> /dev/null; then
            cargo install cargo-ndk
          fi

      - name: Replace package_id
        env:
          NEW_PKG: ${{ matrix.package_id }}
          OLD_PKG: me.bmax.apatch
          APP_JAVA_BASE: app/src/main/java
        run: |
          sed -i "s/applicationId[[:space:]]*=[[:space:]]*\".*\"/applicationId = \"$NEW_PKG\"/g" app/build.gradle.kts

      - name: Build with Gradle
        run: |
          ./gradlew assembleRelease --build-cache
          echo "BUILD_TOOL_VERSION=$(ls $ANDROID_SDK_ROOT/build-tools/ | tail -n 1)" >> $GITHUB_ENV

      - name: Sign Release
        env:
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
          BUILD_TOOLS_VERSION: ${{ env.BUILD_TOOL_VERSION }}
        if: ${{ env.SIGNING_KEY != '' }}
        continue-on-error: true
        uses: kevin-david/zipalign-sign-android-release@v2
        id: sign_app
        with:
          releaseDirectory: app/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
          zipAlign: true

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: manager-${{ matrix.package_id }}
          path: ${{ steps.sign_app.outputs.signedReleaseFile || 'app/build/outputs/apk/release/*.apk' }}