name: Build Manager

on:
  push:
  workflow_dispatch:
    inputs:
      package_id:
        required: true
        type: string
        default: "com.frost.rime"
        description: "Custom package id"

jobs:
  build-manager:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          repository: FrostRime/APatch
          ref: main

      - name: Generate version
        id: parse_version
        run: |
          COMMIT_NUM=$(git rev-list --count HEAD)
          VERSION=$(echo "$COMMIT_NUM + 200 + 10000" | bc)
          echo "Generated Version: $VERSION"
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: jetbrains
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
        with:
          packages: ""

      - name: Install toolchain
        run: |
          rustup default stable
          rustup update stable
          cargo install cargo-ndk
          rustup target install aarch64-linux-android

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: apd
          cache-targets: false

      - name: Replace package_id
        env:
          NEW_PKG: ${{ inputs.package_id || github.event.inputs.package_id || 'com.frost.rime' }}
          OLD_DIR: app/src/main/java/me/bmax/apatch
        run: |
          NEW_DIR=app/src/main/java/$(echo $NEW_PKG | tr '.' '/')
          
          sed -i "s/namespace[[:space:]]*=[[:space:]]*\".*\"/namespace = \"$NEW_PKG\"/g" app/build.gradle.kts
          sed -i "s/applicationId[[:space:]]*=[[:space:]]*\".*\"/applicationId = \"$NEW_PKG\"/g" app/build.gradle.kts
          
          if [ -d "$OLD_DIR" ]; then
            mkdir -p "$NEW_DIR"
            # 使用 / . 确保移动所有隐藏和普通文件，且不会因为目录非空报错
            cp -r "$OLD_DIR"/. "$NEW_DIR/"
            rm -rf "app/src/main/java/me"
          fi
          
          if [ -d "app/src/main/aidl/me/bmax/apatch" ]; then
            mkdir -p "app/src/main/aidl/$(echo $NEW_PKG | tr '.' '/')"
            cp -r app/src/main/aidl/me/bmax/apatch/. "app/src/main/aidl/$(echo $NEW_PKG | tr '.' '/')/"
            rm -rf "app/src/main/aidl/me"
          fi
          echo "Files moved successfully."
          
          find app/src/main -type f \( -name "*.kt" -o -name "*.java" -o -name "*.aidl" -o -name "*.xml" \) -exec sed -i "s/me\.bmax\.apatch/$NEW_PKG/g" {} +

      - name: Build with Gradle
        run: |
          echo 'org.gradle.parallel=true' >> gradle.properties
          echo 'org.gradle.vfs.watch=true' >> gradle.properties
          echo 'org.gradle.jvmargs=-Xmx2048m' >> gradle.properties
          echo 'android.native.buildOutput=verbose' >> gradle.properties
          sed -i 's/org.gradle.configuration-cache=true//g' gradle.properties
          ./gradlew clean assembleDebug assembleRelease
          echo "BUILD_TOOL_VERSION=$(ls /usr/local/lib/android/sdk/build-tools/ | tail -n 1)" >> $GITHUB_ENV

      - name: Sign Release
        env:
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
          BUILD_TOOLS_VERSION: ${{ env.BUILD_TOOL_VERSION }}
        if: ${{ env.SIGNING_KEY != '' }}
        continue-on-error: true
        uses: kevin-david/zipalign-sign-android-release@v2
        id: sign_app
        with:
          releaseDirectory: app/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
          zipAlign: true

      - name: Sign Debug APK
        env:
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
          BUILD_TOOLS_VERSION: ${{ env.BUILD_TOOL_VERSION }}
        if: ${{ env.SIGNING_KEY != '' }}
        continue-on-error: true
        uses: kevin-david/zipalign-sign-android-release@v2
        id: sign_debug_app
        with:
          releaseDirectory: app/build/outputs/apk/debug
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
          zipAlign: true

      - name: Upload mappings
        uses: actions/upload-artifact@v5
        with:
          name: "mappings"
          path: "app/build/outputs/mapping/release/"

      - name: Upload build artifact
        env:
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
        if: ${{ env.SIGNING_KEY != '' }}
        uses: actions/upload-artifact@v6
        with:
          name: manager
          path: ${{steps.sign_app.outputs.signedReleaseFile}}
